<ion-view title="Clients" id="page2">
  <ion-content padding="true" class="has-header" ng-controller="clientsCtrl">
    <div class="list card" ng-repeat="client in clients | orderBy:'title.rendered'">
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-person-outline"></i>{{client.title.rendered}}
        <span class="item-note">Company</span>
      </ion-item>
      <ion-item class="item-icon-left positive">
        <i class="icon ion-ios-telephone-outline"></i>{{client.content.rendered | removeHTMLTags}}</ion-item>
    </div>
    <hr/>
    <div class="list card" id="clients-card214">
      <ion-item class="item-icon-left" id="clients-list-item46">
        <i class="icon ion-ios-person-outline"></i>Client Name
        <span class="item-note">Company</span>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="clients-list-item47">
        <i class="icon ion-ios-telephone-outline"></i>
        <span class="item-note">Add number</span>
        <i class="icon ion-ios-plus-outline"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>