<ion-view title="Projects" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="projects-card21">
      <ion-item class="item-icon-left" id="projects-list-item3">
        <i class="icon ion-ios-folder-outline"></i>Project Name</ion-item>
      <div class="item item-body" id="projects-list-item-container2">
        <div id="projects-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Client
            <strong>Some Name</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="projects-list-item4" ui-sref="tabsController.singleProject">
        <i class="icon ion-ios-information-outline"></i>See Registered Times
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
    <div class="list card" id="projects-card22">
      <ion-item class="item-icon-left" id="projects-list-item5">
        <i class="icon ion-ios-folder-outline"></i>Project Name</ion-item>
      <div class="item item-body" id="projects-list-item-container3">
        <div id="projects-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Client
            <strong>Some Name</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="projects-list-item6" ui-sref="tabsController.singleProject">
        <i class="icon ion-ios-information-outline"></i>See Registered Times
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
    <div class="list card" id="projects-card23">
      <ion-item class="item-icon-left" id="projects-list-item7">
        <i class="icon ion-ios-folder-outline"></i>Project Name</ion-item>
      <div class="item item-body" id="projects-list-item-container4">
        <div id="projects-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Client
            <strong>Some Name</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="projects-list-item8" ui-sref="tabsController.singleProject">
        <i class="icon ion-ios-information-outline"></i>See Registered Times
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>