<ion-view title="Projects" id="page3">
  <ion-content padding="true" class="has-header" ng-controller="projectsCtrl">
    <div class="list card" ng-repeat="project in projects | orderBy:'title.rendered'">
      <ion-item class="item-icon-left" id="projects-list-item3">
        <i class="icon ion-ios-folder-outline"></i>{{ project.title.rendered }}</ion-item>
      <div class="item item-body" id="projects-list-item-container2">
        <div id="projects-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Client:</strong> {{ project.acf.choose_client.post_title }}
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right assertive" id="projects-list-item" ui-sref="tabsController.singleProject({projectId: project.id})">
        <i class="icon ion-ios-information-outline"></i>See Registered Times
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>

  </ion-content>
</ion-view>