<ion-view title="Register Time" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="registerTime-form1" class="list">
      <div id="registerTime-button-bar3" class="button-bar"></div>
      <label class="item item-select" id="registerTime-select1" name="add_time_project">
        <span class="input-label">Select Project</span>
        <select>
          <option>---</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </label>
      <div id="registerTime-button-bar2" class="button-bar"></div>
      <button id="registerTime-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block button-outline icon-left ion-ios-list-outline">Add Time From Recent Call?</button>
      <label class="item item-input" id="registerTime-input4" name="add_time_title">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Phonecall">
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="registerTime-textarea1" name="add_time_desc">
        <span class="input-label">Description</span><textarea placeholder="Some description for time registration."></textarea></label>
    </form>
    <div id="registerTime-button-bar1" class="button-bar">
      <button id="registerTime-button10" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  icon ion-ios-checkmark-outline"> Add Time</button>
    </div>
    <button id="registerTime-button9" style="border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block button-outline icon ion-android-cancel"> Cancel</button>
  </ion-content>
</ion-view>