<ion-view title="Single Project" id="page5">
    <ion-content padding="true" class="has-header" ng-controller="singleProjectCtrl">
        <div class="list card" id="singleProject-card24">
            <ion-item class="item-icon-left" id="singleProject-list-item9">
                <i class="icon ion-ios-folder-outline"></i>{{project.title.rendered}}
            </ion-item>
        </div>

        <div class="list card" ng-repeat="time in project_times">
            <ion-item class="item-icon-right">
                <h2>{{time.acf.enter_time}}</h2>
                <p>{{time.title.rendered}}</p>
                <span class="pull-right">{{time.date}}</span>
                <i class="icon ion-ios-calendar-outline icon-accessory"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>